---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Cada dia representa uma chance valiosa de transcender meus próprios limites e conquistar metas pessoais, alimentando minha motivação para seguir em frente. O aprimoramento contínuo é uma jornada que requer resiliência, comprometimento e inteligência emocional. Entendo que a capacidade de superar desafios e manter o foco é essencial para atingir o sucesso.</p>

    <p>Acredito firmemente que o trabalho em equipe é um pilar fundamental para um crescimento sólido e uma fonte contínua de motivação. A troca de ideias, a colaboração e o apoio mútuo dentro de um grupo proporcionam uma base robusta para fortalecer tanto as habilidades individuais quanto o espírito coletivo.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
    title="Full Cycle 3.0"
    subtitle="07/2023 - Atualmente, São Paulo-SP, BR"
    />
    <TimeLineElement
      title="Trybe - Escola de Programação"
      subtitle="06/2021 - 09/2022, Belo Horizonte-MG, BR"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Contato Seguro"
    subtitle="Desenvolvedor Front-end Web, 09/2023 - 12/2023"
  >
    Tive um contato mais aprofundado com Redux, ReduxForm, componentes funcionais e de classes do React junstamente com TypeScript, StyledComponents, AstroJS, Tailwind, usando Git e GitHub para controle de versão. Participei da manutenção e implementação de novas funcionalidades da aplicação usando o Kanban para acompanhar o prazo e progresso das tarefas.
  </TimeLineElement>
    <TimeLineElement
      title="MadeiraMadeira"
      subtitle="Desenvolvedor Front-end Web, 06/2022 - 06/2023"
    >
    <p>
      • Fiz parte da criação e implementação do projeto MM Score que visou a economia de R$ 75 milhões em redução de custos e melhorias operacionais.
    </p>
    <p>
      • Fui o principal responsável do desenvolvimento Front-end do projeto usando React como principal framework juntamente com TypeScript.
    </p>
    <p>
      • O software foi implementado em micro front-end juntamente com o conceito de Atomic Design.
    </p>
    <p>
      • Foi adotado padrões de UI e UX Design durante a construção.
    </p>
    <p>
      • Interface responsiva e interativa
    </p>
    <p>
      • Utilização da biblioteca de UI Ant Design
    </p>
    <p>
      • Estilização com CSS3, Styled Components e Stitches
    </p>
    <p>
      • Git e GitHub para controle de versão e colaboração com outros membros da equipe
    </p>
    <p>
      • Adoção do Kanban para acompanhar o prazo e progresso das tarefas
    </p>
    <p>
      • Reuniões diárias de Scrum
    </p>
    <p>
      • Utilização do sistema de gerenciamento de projetos Jira
    </p>
    <p>
      • Realizações de testes unitários e de interface de usuário com Jest, React Testing Library e Cypress.
    </p>
    <p>
      • Integração com APIs RESTful.
    </p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credential.net/4774c9cd-9992-439d-a55c-13f1f950b357#gs.2fevcg" target="_blank"> Trybe - Web Development Full Stack
      </a>
    </li>
    <li>
      <a href="https://www.credential.net/fedaec58-4edd-461e-a4a4-8820160e13ed#gs.2fev7b" target="_blank">  Trybe - Desenvolvimento Front-end
      </a>
    </li>
    <li>
      <a href="https://www.credential.net/fedaec58-4edd-461e-a4a4-8820160e13ed#gs.2fev7b" target="_blank">  Trybe - Desenvolvimento Back-end
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hard Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>ReactJS</li>
    <li>Redux</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Tailwind</li>
    <li>SASS</li>
    <li>Styled Components</li>
    <li>Git</li>
    <li>Git Hub</li>
    <li>APIs RESTful</li>
    <li>Redux</li>
    <li>Cypress</li>
    <li>Stitches</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Soft Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Resiliência</li>
    <li>Flexibilidade</li>
    <li>Criatividade</li>
    <li>Pensamento crítico</li>
    <li>Empatia</li>
    <li>Colaboração</li>
    <li>Comunicação</li>
    <li>Motivação</li>
    <li>Curiosidade</li>
    <li>Comprometimento</li>
    <li>Inovação</li>
    <li>Proatividade</li>
    <li>Trabalho em Equipe</li>
    <li>Inteligência Emocional</li>
  </ul>
</BaseLayout>
